<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="armkidd">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">   
            <parameters>
                $(find armkidd_controller)/config/armkidd_controllers.yaml
            </parameters>
        </plugin>
    </gazebo>
</robot>